.page-header {
  background-image: url('/assets/img/BG3.jpg');
  background-position: top center;
  height: 200px;
}

.card {
  margin: 150px auto;
}

.card-body {
  margin-top: 50px;
}

.footer {
  padding-bottom: 50px;
}
