@import 'src/scss/variables/colors';

.content {
  background: $white;
  display: grid;
}

.header {
  display: flex;
  justify-content: space-between;
}

.row {
  display: flex;
}

.cell {
  flex: 1;
  margin: 5px;
  padding: 15px;
  text-align: left;
}

.body {
  text-align: center;
}
