@import './src/scss/variables/colors';

.page-header {
  background-image: url('/assets/img/background-header3.jpg');
  box-shadow: 0 2px 3px $dusty-gray;
  display: flex;
  height: 180px;
  justify-content: center;
}

.title {
  color: $alabaster;
  font-size: 55px;
  font-weight: 900;
  user-select: none;
}

.section {
  margin: 20px 0;
  padding: 0 50px;
}

.section-title {
  font-size: 20px;
  font-weight: 900;
  margin: 10px 0;
  padding: 10px;
  text-transform: uppercase;
}

.section-body {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
}

.logout {
  position: absolute;
  right: 20px;
  top: 20px;
}
