@import '../../../scss/variables/colors';

.container {
  background: $alabaster;
  height: 100vh;
}

.page-header {
  background-image: url('/assets/img/BG3.jpg');
  box-shadow: 0 2px 10px $dusty-gray;
  color: $alabaster;
  display: flex;
  font-size: 55px;
  font-weight: 900;
  height: 200px;
  justify-content: center;
  margin-bottom: 30px;
  text-shadow: $light-green 1px 1px 2px;
}

.section {
  margin: 20px 0;
  padding: 0 50px;
}

.section-title {
  font-size: 20px;
  font-weight: 900;
  margin: 10px 0;
  padding: 10px;
  text-transform: uppercase;
}

.section-body {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
}
