.page-header {
  background-image: url('/assets/img/BG3.jpg');
  background-position: top center;
  height: 200px;
}

.row {
  margin: 20px auto;
}

.card {
  margin: 150px auto;
}

.card-body {
  margin-top: 50px;
}

.footer {
  padding-bottom: 50px;
}

.hidden {
  visibility: hidden;
}

.spinner {
  height: 40;
  width: 40px;
}
