.button {
  border: solid 1px;
  border-radius: 5px;
  height: 40px;
}

.input {
  height: 30px;
  border: solid 1px;
  border-radius: 5px;
}

.form-container {
  min-height: 500px;
}

.section-container {
  width: 100%;
  max-width: 280px;
}

.hidden {
  visibility: hidden;
}

.spinner {
  height: 40;
  width: 40px;
}