@import './src/scss/variables/colors';

* {
  font-family: $font;
}

body {
  background: $alabaster;
}

.page-header {
  background-position: top center;
}

.navbar-menu {
  left: 0;
  padding: 0 60px;
  position: absolute;
  top: 20px;
  width: 100%;
}

.card {
  margin: 50px auto;
}

.card .card-title {
  margin: 30px 0;
  text-align: center;
}

.footer {
  margin: 20px 0;
}

.select {
  flex: 1;
}

.button {
  border: solid 1px;
  border-radius: 5px;
  height: 40px;
}

.center-icon {
  align-items: center;
  display: flex;
  float: left;
  padding: 0 15px;
}
