$transparent: transparent;
$white: #FFF;
$black: #000;
$azure: #35599F;
$valencia: #D34836;

// White
$wild-sand: #F5F5F5;
$alabaster: #FAFAFA;

// Green
$light-green: #C9E5D9;
$ocean-green: #3FAE7F;
$caribbean-green: #01BE7F;
$salem: #128D59;

// Gray
$disabled-gray: #B1B1B1;
$mercury: #E7E7E7;
$alto: #D6D6D6;
$emperor: #555454;
$dove-gray: #6F6F6F;
$boulder: #7D7D7D;
$dusty-gray: #9B9B9B;
$silver: #CCC;
$silver-light: #DDD;


// Red
$red: #FF0003;
$thunderbird: #BA151A;
$dark-tan: #7D0E14;

// NPS Tooltip Gradient.
$agree-light: #73D78D;
$agree-dark: #009E5B;

$warning-light: #F1BE2C;
$warning-dark: #EF7C13;

$danger-light: #FD7D5F;
$danger-dark: #FC3A3A;
