@import './colors';
$transition-duration: 290ms;
$transition-function: cubic-bezier(0.79, 0.01, 0.375, 0.995);
$container-shadow: 0 2px 4px 0 rgba($black, 0.15);
$default-border-radius: 4px;
$content-max-width: 1250px;
$max-width-modal-default: 660px;
$navbar-height: 60px;
$navbar-padding: 10px;
$quick-transition-duration: 200ms;
$cart-container-width: 325px;
$modal-z-index: 3;
$topbar-z-index: 3;

// Media queries
$small-device: 550px;
$medium-device: 768px;
$desktop-device: 991px;
$navbar-small-device-height: 40px;
$section-small-device-height: 54px;
$card-side-margin: 20px;

// Code verification
$code-input-count: 6;
$code-input-margin-right: 10px;
$code-input-width: 35px;
$code-verification-width: ($code-input-count * $code-input-width) + (($code-input-count - 1) * $code-input-margin-right);
$send-code-button-width: 370px;

// SearchBar
$search-bar-height: 73px;
$small-search-bar-height: 45px;

// Contact Form
$modal-address-height: 450px;

// JS Exports

:export {
  navbarheight: $navbar-height;
}
